.to-do-item-container {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-top: 25px;
  .text {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle
  }
  &.done {
    .text {
      text-decoration: line-through;
      color: #cacaca;
    }
    .delete-task{
      color: #cacaca;
    }
  }
  .checkbox {
    cursor: pointer;
    width: 30px;
  }
  .delete-task{
    cursor: pointer;
  }
}

