.footer-container {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  cursor: pointer;
  color: #cacaca;
  padding: 18px 40px;
  background: #ededed;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  .active {
    color: #161616;
  }
}